<%= turbo_frame_tag "last_queries" do %>
  <% if queries.any? %>
    <div class="w-1/4 bg-white flex flex-col pr-2 pt-2 rounded-lg shadow-lg mt-2 absolute">
      <% queries.each do |query| %>
        <div class="p-4 mb-2 ml-2 rounded shadow">
          <h2 class="text-xl font-semibold"><%= query.title %></h2>
        </div>
      <% end %>
    </div>
    <% end %>
<% end %>